[user]
	name = Braimbridge, Adam
	email = Adam.Braimbridge@ft.com
[push]
	default = current
[color]
	ui = true
[status]
	showUntrackedFile = all
[url "https://"]
	insteadOf = git://
[pager]
	branch = false
